

/**
 * CONTENTS
 *
 * NORMALIZE
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * GENERAL STYLING
 * Headings.............H1–H6 styles.
 * Type.................Copy style.
 * Lists................General lists.
 * Links................General link styling.
 *
 * GENERAL STRUCTURE
 * Wrappers.............Wrapping and constraining elements.
 * Columns............. Column and row layout elements.
 *
 * NAVIGATION
 * Navigation...........Nav lists and list items.
 *
 * PAGE LAYOUT ELEMENTS
 * Page-head............The main page header.
 * Logo.................Logo style.
 * Page-foot............The main page footer.
 *
 * CONTENT ELEMENTS
 * Sections.............Sectioning styles.
 * Articles.............Article styles.
 *
 * TOOLS
 * Clears...............Clearing tools.
 *
 * MEDIA QUERIES
 * Min 480..............Form formatting.
 * Buttons..............Button elements.
 * 
 * OTHER ELEMENTS
 * Forms................Form formatting.
 * Buttons..............Button elements.
 * Webicons.............Thanks Adam Fairhead at Fairhead Creative http://fairheadcreative.com.
 *
 * PRINT
 * Print Query..........Print formatting.
 *
 */
 

/*====================================*\
    #NORMALIZE
\*====================================*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}
 
 
/*====================================*\
    #SETTINGS
\*====================================*/

* {
	margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
    font-size: 16px; font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 400;
	font-family: "Bitter", "proxima-nova", Arial, sans-serif;
	background-color: #fff;
	color: #444;
	height: 100%;
}

::-moz-selection {
    background: #ea8a31;
    text-shadow: none;
}

::selection {
    background: #ea8a31;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a, a:visited  {
  text-decoration: none;
  }


/*====================================*\
    #GENERAL STYLING
\*====================================*/


h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova";
  letter-spacing: 0.2em;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #244E5A; /* Deep Blue */
  clear: both;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0px;
}

h1 { font-size: 40px; font-size: 4.0rem; line-height: 1.1;  letter-spacing: -.1rem;}
h2 { font-size: 32px; font-size: 3.2rem; line-height: 1; letter-spacing: .1rem; }
h3 { font-size: 24px; font-size: 2.4rem; line-height: 1;  letter-spacing: .1rem; }
h4 { font-size: 18px; font-size: 1.8rem; line-height: 1; letter-spacing: .08rem; }
h5 { font-size: 14px; font-size: 1.4rem; line-height: 1;  letter-spacing: .05rem; }
h6 { font-size: 10px; font-size: 1rem; line-height: 1;  letter-spacing: 0; }

p {
font-family: "Bitter";
margin: 1em 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
 }
  

nav a{
	font-family: 'proxima-nova'; 
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	vertical-align: top;
}

.uppercase {
	text-transform: uppercase;
}

blockquote {
	padding: .5em .5em;
	quotes: "\201C""\201D";
	position: relative;
}

blockquote p{
	color: #97411B;
	padding-left: 2em;
	margin: 0;
	font-size: 1em;
}

blockquote:before {
	color: #97411B;
	content: open-quote;
	font-size: 4em;
	line-height: .1em;
	margin-right: 0;
	vertical-align: -.8em;
	position: absolute;
	top: .5em;
}

blockquote p:last-child {
	color: #444;
	font-size: .8em;
	margin: 1em 0 0 0;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

a {
	color: #8CABAA; /* Sky Blue */
	text-decoration: underline;
}

a:visited {
	color: #244E5A;  /* Deep Blue */
}

a:hover,
a:focus,
a:active {
	color: rgb(153,181,183); /* Lighter Blue */
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

h4.entry-title {
	margin: 1.5em 0 .25em 0;
}

p:first-child {
	margin-top: .25em;
}

figure {
    margin: 0;
}

figcaption {
	margin-top: 10px;
	color: #97411B; /* Cherrywood */
	text-align: right;
	font-size: 13px; font-size: 1.3rem;
}

/*====================================*\
    #GENERAL STRUCTURE 
\*====================================*/

* {
	margin: 0;
}

.page-wrapper {
	max-width: 960px;
	margin: 0 auto;
	min-height: 100%;
	margin-bottom: -104px;  /* equal to footer height */
	background-color: #fffcf2;
	-moz-box-shadow: 0 220px 40px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 220px 40px rgba(0,0,0,0.15);
			box-shadow: 0 220px 40px rgba(0,0,0,0.15);
}

.page-wrapper:after {
	content: "";
	display: block;
}

.container {
	position: relative;
	padding: 30px;
	box-sizing: border-box;
	}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.content-wrapper {
	position: relative;
} 

.main-content {

}

/*====================================*\
    #NAVIGATION
\*====================================*/

.site-logo {
	text-align: center;
}

.site-logo img {
	background: url('img/logo-h.png');
	background: url('img/logoh.svg') no-repeat,
		linear-gradient(transparent, transparent);
	max-width: 300px;
	width: 90%;
	height: 23.485px;
	margin: 50px auto;
}

.site-nav-bar {
	position: relative;
	margin: 0 auto;
	background-color: #8CABAA; /* Sky Blue */
	text-align: center;
	clear: both;
	height: auto;
}

.site-nav {
	position: relative;
	margin: 0 auto;
}

.site-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

.site-nav ul li {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 28px;
	border-top: 1px solid #fffcf2;
	line-height
}

.site-nav ul li a {
	text-decoration: none;
	display: block;
	margin: 0;
	color: #ffffff;
	padding: 10px 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
	z-index: 3;
	position: relative;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.site-nav ul li:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
}

.site-nav .current-menu-item, .site-nav .current-page-ancestor {
	background: #244E5A;
}

.site-nav ul li:hover:after,
.site-nav ul li.active:after {
	background: #244E5A;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

.site-nav ul li:hover a,
.site-nav ul li.active a {
	color: #FFFCF2; /* pale ivory */
}

.site-nav__connect {
	vertical-align: top;
	padding: 0 20px 0 0;
	font-size: 1.4rem;
	text-align: center;
	display: inline-block;
	float: none;
}

.inner-nav {
	position: relative;
	display: block;
	margin-bottom: 3em;
}

.inner-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.inner-nav ul li {
	margin: 0;
	padding: 5px 0;
	position: relative;
	line-height: 16px;
	display: block;
	background-color: #FFFCF2; /*pale ivory*/
}

.inner-nav ul li a{
	text-decoration: underline;
	font-size: 1.6rem;
	line-height: 16px;
	display: block;
	position: relative;
	font-family: 'proxima-nova';
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #8CABAA; /* Sky Blue */
}

.inner-nav ul li a:visited {
	color: #8CABAA; /* Sky Blue */
}

.inner-nav ul li a:hover{
	color: #244E5A; /* Deep Blue */
}

.inner-nav li.current_page_item, .inner-nav li.tab__active {
	padding-left: 20px;
}

.inner-nav ul li.current_page_item > a, .inner-nav ul li.tab__active > a {
	color: #244E5A; /* Deep Blue */
}

.inner-nav li.current_page_item:after, .inner-nav li.tab__active:after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ac6749;
	top: 10px;
	left: 10px;
	margin-left: -10px;
}

.inner-nav:before,
.inner-nav:after {
	border-top: 2px solid #ac6749; /* medium cherrywood */
	content: "";
	display: block;
	position: relative;
	width: 100%;
}

.contact {
	text-align: center;
	margin: 0;
	line-height: 28px;
	float: left;
	height: 48px;
}

.contact a, .connect a:visited{
	color: #fff;
	display: block;
	padding: 10px 16px;
	text-decoration: none;
	position: relative;
}

.contact a:hover,
.contact a:active {
	background: #244E5A;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

.contact-header {
	display: block;
	position: absolute;
	height: 32px;
	width: 320px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.contact-iframe {
    width: 100%;
	height: 100%
}
  
/*====================================*\
    #PAGE LAYOUT ELEMENTS
\*====================================*/

.site-header {
	background-color: white;
}

.pre-logo {
	font-size: 12px; font-size: 1.2rem;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

.pre-logo__list {
	list-style: none;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	vertical-align: top;
}

.pre-logo__list li {
	position: relative;
	vertical-align: top;
	padding: 0 10px;
	color: #ac6749;  /* medium cherrywood */
	margin: 0;
}

.footer--details__list{
	list-style: none;
	text-align: center;
	padding: 2em 0;
	margin: 0;
}

.footer--details__list li {
	display: block;
	border-top: 2px solid #8CABAA; /* Sky Blue */
	padding: 1em 0px;
	margin: 0 auto;
	width: 100%;
}
	
.footer--details__list li:first-child {
	border: none;
	}

.footer--details p {
	margin: 0;
}

.site-footer, .page-wrapper:after {
	height: 104px; /* must be equal to .page-wrapper margin-bottom */
}

.site-footer {
	background-color: #8CABAA; /* Sky Blue */	
	padding: 10px 0;
	text-align: center;
	color: #fff;
	font-size: 12px; font-size: 1.2rem;
	padding-top: 10px;
	max-width: 960px;
	margin: 0 auto;
}

.site-footer__logo {
	display: inline-block;
	background: url('img/sewardcoop.svg') no-repeat;
	background-size: 107px 29px;
	width: 107px;
	height: 29px;	
	margin: 0 30px;
}

.copyright {
	display: inline-block;
	margin: 8px 30px;
}

/*====================================*\
    #CONTENT ELEMENTS
\*====================================*/


.article {
	padding: 40px 0px;
}

.article img{
	max-width: 100%;
	height: auto;
	padding-bottom: 20px;
}

.supplement {
	position: relative;
	margin-top: 1em;
}

.supplement p {
	font-size: 1.4rem;
	font-family: 'proxima-nova';
}

.slideshow {
	background-color: rgb(153,181,183); /* Lighter Blue */
	position: relative;
	margin-bottom: 6em;
}

.slideshow__image {
	background-color: #8CABAA; /* Sky Blue */
	position: relative;
	background-size: cover;	
	background-position: top center;
	height: 450px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset;
}

.slideshow__image:after{
	content: "";
	position: absolute;
	background-color: rgba(151, 65, 27, 0.4);
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
}

.slideshow__caption-box {
	border-top: 30px solid #8CABAA; /* Sky Blue */
	border-bottom: 30px solid #8CABAA; /* Sky Blue */
	background: url('img/pattern.png') repeat;
	background-color: #8CABAA; /* Sky Blue */
	padding: 20px 20px;
	position: relative;
	text-align: center;
}

.slideshow__title {
	position: relative;
	color: #fff;
	margin-top: 1em;
	margin-bottom: 0;
	line-height: 1.2em;
}

	.slideshow__title:after {
		content: "";
		border-bottom: 2px solid #fff;
		position: absolute;
		width: 100%;
		bottom: -10px;
		left: 0;
	}

.slideshow__copy {
	padding: 0;
	color: #fff;
	vertical-align: bottom;
}

.menu__hours {
	font-size: 14px;
	letter-spacing: 0px;
}

.food__item {
	height: 130px;
	overflow: hidden;
}

.food__item-name {
	font-family: 'proxima-nova';
	font-size: 14px; font-size: .9em;
	text-transform: uppercase;
	color: #244E5A;
}

.food__item-copy {
	margin: 0;
}

.food__item-price {
	margin: 0 2em 2em 0;
	float: right;
	font-size: 12px; font-size: .8em;
	font-weight: bold;
}

.title {
    color: white;
}

.ie7 .title {
	padding-top: 20px;
}

/* hack to style the google map widget labels */
.map-label {
	text-align: center;
    font-size: 14px;
    color: #97411B;
    text-shadow: 1px 1px 3px #fff;
}

 
/*====================================*\
    #MEDIA QUERIES
\*====================================*/
  
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  
	
}
  
  
  
/*	$480 Small Screen & Landscape     */

 @media only screen and (min-width: 480px) {
 
	.site-logo img {
		background: url('img/logoh@2x.png') no-repeat;
		background: url('img/logoh@2x.svg') no-repeat,
			linear-gradient(transparent, transparent);
		max-width: 600px;
		height: 93px;
		margin: 44px auto;
	}

	.contact {
		border: none;
	}
	
	.connect {
		margin: 0 4em;
	}
	
}



/*	$620 Small Screen & Landscape     */


@media only screen and (min-width: 620px) {
    
	.page-wrapper {
		margin-bottom: -54px;  /* equal to footer height */
	}
	
	.site-nav {
		text-align: left;
	}
	
	.site-nav__connect {
		float: right;
	}
	
	.connect {
		display: inline-block;
		float: right;
		margin-right: 10px;
	}

	.site-nav ul li {
		border: none;
		margin-right: 2px;
		float: left;
	}

	.inner-nav ul li {
		padding: 10px;
		display: inline-block;
	}
	
	.inner-nav ul li:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		top: 38px;
		left: 50%;
		margin-left: -10px;
	}
	
	.inner-nav ul li:first-child {
		padding-left: 0;
	}
	
	.inner-nav ul li a {
		text-decoration: none;
	}

	.inner-nav li.current_page_item {
		padding-left: 10px; /* reset */
	}
	
	.inner-nav ul li:hover:after {
		border-top: 10px solid #ac6749;
		-moz-transition: border-top-color .2s;
		-ms-transition: border-top-color .2s;
		-o-transition: border-top-color .2s;
		transition: border-width .2s;
	}
	
	.inner-nav li.current_page_item:after, .tab__active:after {
		content: '';
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #ac6749;
		top: 38px;
		left: 50%;
		margin-left: -10px;
	}

	.slideshow__caption-box {
		padding: 20px 4em;
	}
	
	.site-footer, .page-wrapper:after {
		height: 54px; /* must be equal to .page-wrapper margin-bottom */
	}

	.site-footer {
		text-align: left;
	}

	.site-footer__logo {
		float: right;
	}
}




/*	$768 Large Screen                 */


@media only screen and (min-width: 768px) {
	
	.column,
	.columns {
		margin-left: 2%;
	}
	
	.column:first-child,
	.columns:first-child,
	.two.columns:nth-of-type(4n),
	.three.columns:nth-of-type(3n),
	.four.columns:nth-of-type(even),
	.five.columns:nth-of-type(even),
	.six.columns:nth-of-type(even){
		margin-left: 0;
	}

	.one.column			{ width: 15%; }
	.two.columns		{ width: 32%; }
	.three.columns		{ width: 49%; }
	.four.columns		{ width: 66%; }
	.five.columns		{ width: 83%; }
	.six.columns		{ width: 100%; margin-left: 0; }

	.one-third.column	{ width: 32%; }
	.two-thirds.column	{ width: 66%; }
	.one-half.column	{ width: 49%; }

	.pre-logo__list {
		display: inline-block;
	}
	
	.pre-logo__list li {
		float: left;
	}
	
	.pre-logo__list li:first-child:after {
		content: '';
		display: block;
		position: absolute;
		border-right: 2px solid #ac6749;
		top: 0;
		height: 70%;
		right: 0;
	}
	
	.connect {
		float: right;
		margin-left: 0;
	}

	.footer--details__list li {
		margin: 1em 0;
		padding: 0 1em;
		width: 28%;
		display: inline-block;
		border: none; /* Reset */
		border-left: 2px solid #8CABAA; /* Sky Blue */
	}
	
		.footer--details__list li:first-child {
			margin-left: 0;
			border: none;
		}
	
	.site-footer {
		text-align: left;
	}
	
}


/*	$960 Max Width                    */

@media only screen and (min-width: 960px) {

	.page-background {
		background: transparent url('img/radials.png') center 330px no-repeat;
		background-size: 1252px 600px;
		background-attachment: scroll;
		position: fixed;		
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
  
}

/*====================================*\
    #TOOLS
\*====================================*/

.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
   
   
.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.wrapper {
	padding-left: 20px;
	padding-right: 20px;
}



/*====================================*\
    #OTHER ELEMENTS (Buttons/Forms/Icons)
\*====================================*/

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 14px; font-size: 1.4rem;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #8CABAA; /* Sky Blue */
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #fff;
  border-color: #888;
  outline: 0; }


.social-links {
	float: left;
	padding: 10px 8px;
}

.social-links a{
	line-height: 28px;
}

.social-links a:hover  .social-links__backgrnd{
	fill: #244E5A;
}

/*====================================*\
    #ACCESSIBILITY
\*====================================*/

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*====================================*\
    #PRINT
\*====================================*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

	/* restore webicons accessibility for print */

	.webicon {
		text-indent: 0;
		width: auto !important;
		height: auto !important;
		-moz-border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
		border-radius: 0 !important;
	}
	
}